.container {
  margin-top: 40px;
}

/* navbar styling */

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar > li {
  float: left;
  border-right: 1px solid #bbb;

  &:last-child {
    border-right: none;
  }
}

.navbar > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  &:hover {
    background-color: #111;
  }
}

/* error styling */
#error_explanation {
  color: #f00;
  border: 1px solid #d9534f;
  padding-left: 10px;

  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  margin-top: 1rem;
  color: #f00;
  display: inline-block;
}

.field_with_errors input {
  border: 1px solid red;
}

/* alerts */

.alert {
  margin-top: 10px;
  text-align: left;
  font-size: xx-large;
  font-weight: bold;
}

.alert-danger {
  color: red;
}

.alert.alert-info {
  color: black;
}

.alert.alert-success {
  color: green;
}

/* kittens styling */
ul.kittens {
  list-style-type: none;
  margin: 3rem 0;
  padding: 0;
  overflow: hidden;
  width: 10rem;
}

li.kitten.attr {
  width: 5rem;
  text-align: right;
  padding-left: 2rem;
}

li.kitten#name {
  margin: auto;
  padding-left: 0.75rem;
  font-size: large;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

li.kitten.link {
  padding: 0.5rem;
  width: 40%;
  text-align: center;
  display: inline-block;
}

li.kitten.link a {
  padding: 0.25rem;
  text-decoration: none;
  &:hover {
    color: green;
    border: thin solid gray;
  }
}

// kitten form styling
.kitten-form {
  width: 40%;
  margin: 0;
  padding: 0;
}

.form-kitten.name {
  padding: 0;
  display: inline-block;
  margin-left: 5.5rem;
  text-align: right;
}

.form-kitten {
  width: 50%;
  padding-top: 1rem;
  text-align: right;
}

.btn {
  width: 50%;
  text-align: right;
}
